@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "/reset.css";

/* I haven't finished to take Kokoa Clone class yet. I did my best, but It isn't finished 
I will finish CSS after Kokoa will be done! Thank you */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: aliceblue;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.login-form input::placeholder {
  color: tomato;
  text-align: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.5s, opacity 0.5s ease-in-out;
}

ul {
  text-decoration: none;
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s linear;
}

input {
  outline: none;
  border: none;
  padding: 20px 0;
  font-size: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
}
